<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Forside</a>
      <a href="bygninger">Bygninger</a>
      <a href="biler">Biler</a>
    </nav>
    {{{body}}}
  </body>
</html>
